*
  box-sizing  border-box 
html
  background-color: #fff500;
.hide{
  display: none;
}

font-default()
    font-family helvetica, "游ゴシック体", 'Hiragino Sans GB', 'Microsoft Yahei Light', 'Microsoft YaHei', 'WenQuanYi Micro Hei', lucida, sans-serif

simsun()
    font-family Arial, Helvetica, tahoma, verdana, "宋体", SimSun, "华文细黑", STXihei, sans-serif

fangsong()
    font-family Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif
@font-face
  font-family: against
  src: url(./fonts/againts.ttf), url(./fonts/againts.otf);

.song
  fangsong();

html
body
  height: 100%;
  width: 100%
  margin: 0
  padding: 0
  font-default()
  text-align: center
.wrapper
  min-height: 100%;
  position: relative;
a 
  color black
  text-decoration: none
  &:hover
    text-decoration: underline

.handwriting
  font-family: against;
  font-weight: normal
.headline 
  font-size: 6rem;
  text-align: center
.slogan
  font-size: 24px;
.bg-yellow
  background-color: #fff500
.logo
  width: 62%
  height: 50%
  margin: auto;
  position: relative
.logo img
  width: 100%
  height: 100%
  object-fit: contain;
  pointer-events: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none
  user-select: none
@media screen and (min-width:769px)
  .logo
    padding-top: 45px;
@media screen and (max-width:425px)
  .logo
    width:100%;
    padding:0 20px



.hidden
  position: relative;
  width: 100%;
  height: 308px;
  &>* 
    transform: scale(1,0);
    transition: all .5s
    transform-origin: center center
  :target
    transform: scale(1);
  p
    position: absolute;
    top:0
    width: 100%;
    min-height: 3rem;
    a
      padding: 5px 10px
      background-color: black
      font-size: 16px
      line-height: 36px
      color: yellow
#works
#blog
#code 
  a
    margin: 5px
// #wechat
//   width: 200px
//   height: 200px 
//   img 
//     object-fit: cover
nav
  ul 
    list-style: none;
    padding: 0;
    margin: 0;
  li
    display: inline-block
    margin: 5px
    a
      padding: 5px 10px
      background-color: black
      font-size: 16px
      line-height: 36px
      color: yellow
      text-decoration: none

footer
  position: absolute
  bottom: 0
  width: 100%;  
.copy 
  color black;
